form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  width: 232px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}
.hint {
  margin-top: 8px;
  text-align: center;
}

input {
  margin-bottom: 8px;
  background-color: #000;
  color: #fff;
  border: 1px solid white;
}

input[type="checkbox"] {
  width: 232px;
  visibility: hidden;
}
input[type="checkbox"]:checked {
  position: relative;
  transform: scale(4.2);
}

label {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  padding: 0.1rem 0.1rem;
  cursor: pointer;
  border: 0.1rem solid #fff;
  background: #000;
  position: relative;
  overflow: hidden;
  text-align: center;
}

label:active {
  top: 3px;
  box-shadow: none;
}

#feedback {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.glow {
  background: radial-gradient(#000 75%, transparent 25%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 266px);
  left: calc(50% - 242px);
  width: 484px;
  height: 484px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgb(0, 0, 0), inset 20px 0 80px rgb(0, 0, 0),
    inset -20px 0 80px rgb(0, 0, 0), inset 20px 0 300px rgb(0, 0, 0),
    0 0 50px #fff, -10px 0 80px rgb(0, 0, 0), 10px 0 80px rgb(255, 255, 255);
}

.container .cube-container {
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
  perspective-origin: 50% -240px;
  perspective: 1600px;
}

.cube,
.smallcube {
  width: 100%;
  height: 100%;
  top: 26px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translateZ(-150px) rotateX(45deg) rotateY(45deg);
  transition: none;
}

@keyframes rotateCube {
  0% {
    transform: translateZ(-150px) rotateX(-45deg) rotateY(45deg);
  }
  100% {
    transform: translateZ(-150px) rotateX(135deg) rotateY(-135deg);
  }
}

.face {
  will-change: auto;
  will-change: transform;
  position: absolute;
  height: 296px;
  width: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  opacity: 100%;
  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.face.front {
  transform: rotateY(0deg) translateZ(148px);
  background-image: url("./Cube/orig1.png");
  background-size: contain;
  display: none;
}
.face.back {
  transform: rotateY(180deg) translateZ(148px);
  background-image: url("./Cube/orig2.png");
  background-size: contain;
  display: none;
}
.face.top {
  transform: rotateX(90deg) translateZ(148px);
  background-image: url("./Cube/orig3.png");
  background-size: contain;
  display: none;
}
.face.bottom {
  transform: rotateX(-90deg) translateZ(148px);
  background-image: url("./Cube/orig4.png");
  background-size: contain;
  display: none;
}
.face.left {
  transform: rotateY(90deg) translateZ(148px);
  background-image: url("./Cube/orig5.png");
  background-size: contain;
  display: none;
}
.face.right {
  transform: rotateY(-90deg) translateZ(148px);
  background-image: url("./Cube/orig6.png");
  background-size: contain;
  display: none;
}

.smallface {
  position: absolute;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  opacity: 60%;
  display: none;
  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.smallface.front {
  transform: rotateY(0deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}
.smallface.back {
  transform: rotateY(180deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}
.smallface.top {
  transform: rotateX(90deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}
.smallface.bottom {
  transform: rotateX(-90deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}
.smallface.left {
  transform: rotateY(90deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}
.smallface.right {
  transform: rotateY(-90deg) translateZ(80px);
  background-image: url("./InnerCube/side1.png");
  background-size: contain;
}

.bigface {
  position: absolute;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  opacity: 30%;
  display: none;
  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.bigface.front {
  transform: rotateY(0deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}
.bigface.back {
  transform: rotateY(180deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}
.bigface.top {
  transform: rotateX(90deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}
.bigface.bottom {
  transform: rotateX(-90deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}
.bigface.left {
  transform: rotateY(90deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}
.bigface.right {
  transform: rotateY(-90deg) translateZ(130px);
  background-image: url("./InnerCube/side2.png");
  background-size: contain;
}

.center {
  position: absolute;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  display: none;
  background-color: #fff;
  transition: background-color 10s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-box-shadow: 0px 0px 15px 5px #fff;
  -moz-box-shadow: 0px 0px 15px 5px #fff;
  box-shadow: 0px 0px 15px 5px #fff;
}

.center.front {
  transform: rotateY(0deg) translateZ(30px);
}
.center.back {
  transform: rotateY(180deg) translateZ(30px);
}
.center.top {
  transform: rotateX(90deg) translateZ(30px);
}
.center.bottom {
  transform: rotateX(-90deg) translateZ(30px);
}
.center.left {
  transform: rotateY(90deg) translateZ(30px);
}
.center.right {
  transform: rotateY(-90deg) translateZ(30px);
}

html {
  height: 100%;
}

body {
  color: white;
  background: radial-gradient(ellipse at bottom, #0b1016 0%, #000 100%);
}

.stars-container {
  cursor: initial;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

#scene {
  pointer-events: none;
  height: inherit;
}

.star {
  display: inline-block;
  border-radius: 100%;
  background-color: white;
  position: absolute;
}

#stars-small .star:nth-child(0) {
  height: 2px;
  width: 2px;
  left: 104vw;
  top: 7vh;
}

#stars-small .star:nth-child(1) {
  height: 3px;
  width: 3px;
  left: 28vw;
  top: 24vh;
}

#stars-small .star:nth-child(2) {
  height: 2px;
  width: 2px;
  left: 83vw;
  top: 101vh;
}

#stars-small .star:nth-child(3) {
  height: 1px;
  width: 1px;
  left: 23vw;
  top: 42vh;
}

#stars-small .star:nth-child(4) {
  height: 2px;
  width: 2px;
  left: 21vw;
  top: 99vh;
}

#stars-small .star:nth-child(5) {
  height: 3px;
  width: 3px;
  left: 85vw;
  top: 98vh;
}

#stars-small .star:nth-child(6) {
  height: 3px;
  width: 3px;
  left: 66vw;
  top: 66vh;
}

#stars-small .star:nth-child(7) {
  height: 1px;
  width: 1px;
  left: 53vw;
  top: 24vh;
}

#stars-small .star:nth-child(8) {
  height: 3px;
  width: 3px;
  left: 56vw;
  top: 52vh;
}

#stars-small .star:nth-child(9) {
  height: 2px;
  width: 2px;
  left: 49vw;
  top: 8vh;
}

#stars-small .star:nth-child(10) {
  height: 2px;
  width: 2px;
  left: 24vw;
  top: 105vh;
}

#stars-small .star:nth-child(11) {
  height: 1px;
  width: 1px;
  left: 94vw;
  top: 37vh;
}

#stars-small .star:nth-child(12) {
  height: 3px;
  width: 3px;
  left: 86vw;
  top: 24vh;
}

#stars-small .star:nth-child(13) {
  height: 2px;
  width: 2px;
  left: 54vw;
  top: 2vh;
}

#stars-small .star:nth-child(14) {
  height: 1px;
  width: 1px;
  left: 60vw;
  top: 91vh;
}

#stars-small .star:nth-child(15) {
  height: 1px;
  width: 1px;
  left: 76vw;
  top: 6vh;
}

#stars-small .star:nth-child(16) {
  height: 3px;
  width: 3px;
  left: 58vw;
  top: 64vh;
}

#stars-small .star:nth-child(17) {
  height: 2px;
  width: 2px;
  left: 37vw;
  top: 29vh;
}

#stars-small .star:nth-child(18) {
  height: 1px;
  width: 1px;
  left: 11vw;
  top: 65vh;
}

#stars-small .star:nth-child(19) {
  height: 1px;
  width: 1px;
  left: 75vw;
  top: 5vh;
}

#stars-small .star:nth-child(20) {
  height: 3px;
  width: 3px;
  left: 19vw;
  top: 56vh;
}

#stars-small .star:nth-child(21) {
  height: 2px;
  width: 2px;
  left: 94vw;
  top: 89vh;
}

#stars-small .star:nth-child(22) {
  height: 3px;
  width: 3px;
  left: 47vw;
  top: -2vh;
}

#stars-small .star:nth-child(23) {
  height: 1px;
  width: 1px;
  left: 64vw;
  top: 89vh;
}

#stars-small .star:nth-child(24) {
  height: 3px;
  width: 3px;
  left: 77vw;
  top: 2vh;
}

#stars-small .star:nth-child(25) {
  height: 2px;
  width: 2px;
  left: 86vw;
  top: 23vh;
}

#stars-small .star:nth-child(26) {
  height: 3px;
  width: 3px;
  left: 45vw;
  top: 32vh;
}

#stars-small .star:nth-child(27) {
  height: 1px;
  width: 1px;
  left: 39vw;
  top: 10vh;
}

#stars-small .star:nth-child(28) {
  height: 3px;
  width: 3px;
  left: 23vw;
  top: 78vh;
}

#stars-small .star:nth-child(29) {
  height: 1px;
  width: 1px;
  left: 88vw;
  top: 23vh;
}

#stars-small .star:nth-child(30) {
  height: 2px;
  width: 2px;
  left: 47vw;
  top: 51vh;
}

#stars-small .star:nth-child(31) {
  height: 2px;
  width: 2px;
  left: 63vw;
  top: 84vh;
}

#stars-small .star:nth-child(32) {
  height: 1px;
  width: 1px;
  left: 52vw;
  top: 2vh;
}

#stars-small .star:nth-child(33) {
  height: 2px;
  width: 2px;
  left: 63vw;
  top: 68vh;
}

#stars-small .star:nth-child(34) {
  height: 1px;
  width: 1px;
  left: 22vw;
  top: 60vh;
}

#stars-small .star:nth-child(35) {
  height: 2px;
  width: 2px;
  left: 105vw;
  top: 84vh;
}

#stars-small .star:nth-child(36) {
  height: 3px;
  width: 3px;
  left: 17vw;
  top: 90vh;
}

#stars-small .star:nth-child(37) {
  height: 3px;
  width: 3px;
  left: 33vw;
  top: 15vh;
}

#stars-small .star:nth-child(38) {
  height: 1px;
  width: 1px;
  left: 7vw;
  top: 38vh;
}

#stars-small .star:nth-child(39) {
  height: 3px;
  width: 3px;
  left: -1vw;
  top: 104vh;
}

#stars-small .star:nth-child(40) {
  height: 2px;
  width: 2px;
  left: 100vw;
  top: 90vh;
}

#stars-small .star:nth-child(41) {
  height: 3px;
  width: 3px;
  left: 59vw;
  top: 40vh;
}

#stars-small .star:nth-child(42) {
  height: 2px;
  width: 2px;
  left: 56vw;
  top: 48vh;
}

#stars-small .star:nth-child(43) {
  height: 1px;
  width: 1px;
  left: 5vw;
  top: 68vh;
}

#stars-small .star:nth-child(44) {
  height: 2px;
  width: 2px;
  left: 76vw;
  top: 96vh;
}

#stars-small .star:nth-child(45) {
  height: 1px;
  width: 1px;
  left: 18vw;
  top: 59vh;
}

#stars-small .star:nth-child(46) {
  height: 3px;
  width: 3px;
  left: 8vw;
  top: 46vh;
}

#stars-small .star:nth-child(47) {
  height: 1px;
  width: 1px;
  left: 36vw;
  top: 18vh;
}

#stars-small .star:nth-child(48) {
  height: 3px;
  width: 3px;
  left: 86vw;
  top: 68vh;
}

#stars-small .star:nth-child(49) {
  height: 1px;
  width: 1px;
  left: 80vw;
  top: 12vh;
}

#stars-small .star:nth-child(50) {
  height: 3px;
  width: 3px;
  left: 43vw;
  top: -4vh;
}

#stars-small .star:nth-child(51) {
  height: 3px;
  width: 3px;
  left: 1vw;
  top: 62vh;
}

#stars-small .star:nth-child(52) {
  height: 1px;
  width: 1px;
  left: 23vw;
  top: 82vh;
}

#stars-small .star:nth-child(53) {
  height: 1px;
  width: 1px;
  left: 82vw;
  top: 58vh;
}

#stars-small .star:nth-child(54) {
  height: 2px;
  width: 2px;
  left: 46vw;
  top: 35vh;
}

#stars-small .star:nth-child(55) {
  height: 3px;
  width: 3px;
  left: 69vw;
  top: 14vh;
}

#stars-small .star:nth-child(56) {
  height: 3px;
  width: 3px;
  left: 32vw;
  top: 60vh;
}

#stars-small .star:nth-child(57) {
  height: 1px;
  width: 1px;
  left: 83vw;
  top: 52vh;
}

#stars-small .star:nth-child(58) {
  height: 1px;
  width: 1px;
  left: 97vw;
  top: 45vh;
}

#stars-small .star:nth-child(59) {
  height: 3px;
  width: 3px;
  left: 59vw;
  top: 39vh;
}

#stars-small .star:nth-child(60) {
  height: 2px;
  width: 2px;
  left: 28vw;
  top: 103vh;
}

#stars-small .star:nth-child(61) {
  height: 1px;
  width: 1px;
  left: 78vw;
  top: 5vh;
}

#stars-small .star:nth-child(62) {
  height: 1px;
  width: 1px;
  left: 81vw;
  top: 78vh;
}

#stars-small .star:nth-child(63) {
  height: 1px;
  width: 1px;
  left: 28vw;
  top: 74vh;
}

#stars-small .star:nth-child(64) {
  height: 2px;
  width: 2px;
  left: 26vw;
  top: 10vh;
}

#stars-small .star:nth-child(65) {
  height: 2px;
  width: 2px;
  left: 2vw;
  top: 50vh;
}

#stars-small .star:nth-child(66) {
  height: 1px;
  width: 1px;
  left: 66vw;
  top: 82vh;
}

#stars-small .star:nth-child(67) {
  height: 2px;
  width: 2px;
  left: 36vw;
  top: 98vh;
}

#stars-small .star:nth-child(68) {
  height: 2px;
  width: 2px;
  left: 88vw;
  top: 58vh;
}

#stars-small .star:nth-child(69) {
  height: 2px;
  width: 2px;
  left: 13vw;
  top: -3vh;
}

#stars-small .star:nth-child(70) {
  height: 2px;
  width: 2px;
  left: 25vw;
  top: 35vh;
}

#stars-small .star:nth-child(71) {
  height: 3px;
  width: 3px;
  left: 7vw;
  top: 97vh;
}

#stars-small .star:nth-child(72) {
  height: 3px;
  width: 3px;
  left: 29vw;
  top: 84vh;
}

#stars-small .star:nth-child(73) {
  height: 3px;
  width: 3px;
  left: 22vw;
  top: 26vh;
}

#stars-small .star:nth-child(74) {
  height: 1px;
  width: 1px;
  left: 30vw;
  top: 11vh;
}

#stars-small .star:nth-child(75) {
  height: 2px;
  width: 2px;
  left: 51vw;
  top: 37vh;
}

#stars-small .star:nth-child(76) {
  height: 1px;
  width: 1px;
  left: 21vw;
  top: 19vh;
}

#stars-small .star:nth-child(77) {
  height: 1px;
  width: 1px;
  left: 5vw;
  top: 67vh;
}

#stars-small .star:nth-child(78) {
  height: 2px;
  width: 2px;
  left: 87vw;
  top: 52vh;
}

#stars-small .star:nth-child(79) {
  height: 3px;
  width: 3px;
  left: 95vw;
  top: 47vh;
}

#stars-small .star:nth-child(80) {
  height: 2px;
  width: 2px;
  left: 103vw;
  top: 2vh;
}

#stars-small .star:nth-child(81) {
  height: 1px;
  width: 1px;
  left: 2vw;
  top: 98vh;
}

#stars-small .star:nth-child(82) {
  height: 1px;
  width: 1px;
  left: 24vw;
  top: 105vh;
}

#stars-small .star:nth-child(83) {
  height: 3px;
  width: 3px;
  left: 32vw;
  top: 29vh;
}

#stars-small .star:nth-child(84) {
  height: 3px;
  width: 3px;
  left: 92vw;
  top: 77vh;
}

#stars-small .star:nth-child(85) {
  height: 1px;
  width: 1px;
  left: 80vw;
  top: 35vh;
}

#stars-small .star:nth-child(86) {
  height: 1px;
  width: 1px;
  left: 27vw;
  top: 29vh;
}

#stars-small .star:nth-child(87) {
  height: 2px;
  width: 2px;
  left: 97vw;
  top: 70vh;
}

#stars-small .star:nth-child(88) {
  height: 2px;
  width: 2px;
  left: 76vw;
  top: 75vh;
}

#stars-small .star:nth-child(89) {
  height: 3px;
  width: 3px;
  left: 2vw;
  top: 10vh;
}

#stars-small .star:nth-child(90) {
  height: 2px;
  width: 2px;
  left: 97vw;
  top: 40vh;
}

#stars-small .star:nth-child(91) {
  height: 2px;
  width: 2px;
  left: 29vw;
  top: 47vh;
}

#stars-small .star:nth-child(92) {
  height: 2px;
  width: 2px;
  left: 22vw;
  top: 92vh;
}

#stars-small .star:nth-child(93) {
  height: 2px;
  width: 2px;
  left: 24vw;
  top: 58vh;
}

#stars-small .star:nth-child(94) {
  height: 1px;
  width: 1px;
  left: 99vw;
  top: 104vh;
}

#stars-small .star:nth-child(95) {
  height: 3px;
  width: 3px;
  left: 29vw;
  top: 94vh;
}

#stars-small .star:nth-child(96) {
  height: 3px;
  width: 3px;
  left: 49vw;
  top: 50vh;
}

#stars-small .star:nth-child(97) {
  height: 1px;
  width: 1px;
  left: 21vw;
  top: 93vh;
}

#stars-small .star:nth-child(98) {
  height: 3px;
  width: 3px;
  left: 35vw;
  top: 16vh;
}

#stars-small .star:nth-child(99) {
  height: 3px;
  width: 3px;
  left: 76vw;
  top: 10vh;
}

#stars-small .star:nth-child(100) {
  height: 1px;
  width: 1px;
  left: 94vw;
  top: 12vh;
}

#stars-medium .star:nth-child(0) {
  height: 3px;
  width: 3px;
  left: 67vw;
  top: 55vh;
}

#stars-medium .star:nth-child(1) {
  height: 2px;
  width: 2px;
  left: 22vw;
  top: -4vh;
}

#stars-medium .star:nth-child(2) {
  height: 1px;
  width: 1px;
  left: 38vw;
  top: 43vh;
}

#stars-medium .star:nth-child(3) {
  height: 2px;
  width: 2px;
  left: 103vw;
  top: 101vh;
}

#stars-medium .star:nth-child(4) {
  height: 1px;
  width: 1px;
  left: 88vw;
  top: 71vh;
}

#stars-medium .star:nth-child(5) {
  height: 3px;
  width: 3px;
  left: 14vw;
  top: 49vh;
}

#stars-medium .star:nth-child(6) {
  height: 1px;
  width: 1px;
  left: 74vw;
  top: 40vh;
}

#stars-medium .star:nth-child(7) {
  height: 2px;
  width: 2px;
  left: 64vw;
  top: 5vh;
}

#stars-medium .star:nth-child(8) {
  height: 1px;
  width: 1px;
  left: 25vw;
  top: 11vh;
}

#stars-medium .star:nth-child(9) {
  height: 3px;
  width: 3px;
  left: 86vw;
  top: 101vh;
}

#stars-medium .star:nth-child(10) {
  height: 1px;
  width: 1px;
  left: 99vw;
  top: 38vh;
}

#stars-medium .star:nth-child(11) {
  height: 2px;
  width: 2px;
  left: 82vw;
  top: 64vh;
}

#stars-medium .star:nth-child(12) {
  height: 3px;
  width: 3px;
  left: 4vw;
  top: 51vh;
}

#stars-medium .star:nth-child(13) {
  height: 3px;
  width: 3px;
  left: 60vw;
  top: 104vh;
}

#stars-medium .star:nth-child(14) {
  height: 3px;
  width: 3px;
  left: 71vw;
  top: 10vh;
}

#stars-medium .star:nth-child(15) {
  height: 1px;
  width: 1px;
  left: 77vw;
  top: 45vh;
}

#stars-medium .star:nth-child(16) {
  height: 3px;
  width: 3px;
  left: 4vw;
  top: 70vh;
}

#stars-medium .star:nth-child(17) {
  height: 2px;
  width: 2px;
  left: 8vw;
  top: 17vh;
}

#stars-medium .star:nth-child(18) {
  height: 1px;
  width: 1px;
  left: 103vw;
  top: 105vh;
}

#stars-medium .star:nth-child(19) {
  height: 2px;
  width: 2px;
  left: 88vw;
  top: 27vh;
}

#stars-medium .star:nth-child(20) {
  height: 1px;
  width: 1px;
  left: 93vw;
  top: 76vh;
}

#stars-medium .star:nth-child(21) {
  height: 2px;
  width: 2px;
  left: 68vw;
  top: 81vh;
}

#stars-medium .star:nth-child(22) {
  height: 1px;
  width: 1px;
  left: 72vw;
  top: 43vh;
}

#stars-medium .star:nth-child(23) {
  height: 3px;
  width: 3px;
  left: 86vw;
  top: 52vh;
}

#stars-medium .star:nth-child(24) {
  height: 1px;
  width: 1px;
  left: 4vw;
  top: 36vh;
}

#stars-medium .star:nth-child(25) {
  height: 1px;
  width: 1px;
  left: 55vw;
  top: 42vh;
}

#stars-medium .star:nth-child(26) {
  height: 1px;
  width: 1px;
  left: 20vw;
  top: 14vh;
}

#stars-medium .star:nth-child(27) {
  height: 3px;
  width: 3px;
  left: 76vw;
  top: 8vh;
}

#stars-medium .star:nth-child(28) {
  height: 2px;
  width: 2px;
  left: 105vw;
  top: 46vh;
}

#stars-medium .star:nth-child(29) {
  height: 3px;
  width: 3px;
  left: 26vw;
  top: 52vh;
}

#stars-medium .star:nth-child(30) {
  height: 1px;
  width: 1px;
  left: 57vw;
  top: 46vh;
}

#stars-medium .star:nth-child(31) {
  height: 3px;
  width: 3px;
  left: 72vw;
  top: 64vh;
}

#stars-medium .star:nth-child(32) {
  height: 1px;
  width: 1px;
  left: 38vw;
  top: 27vh;
}

#stars-medium .star:nth-child(33) {
  height: 1px;
  width: 1px;
  left: 31vw;
  top: 103vh;
}

#stars-medium .star:nth-child(34) {
  height: 2px;
  width: 2px;
  left: 74vw;
  top: 78vh;
}

#stars-medium .star:nth-child(35) {
  height: 2px;
  width: 2px;
  left: 25vw;
  top: 5vh;
}

#stars-medium .star:nth-child(36) {
  height: 3px;
  width: 3px;
  left: 60vw;
  top: 88vh;
}

#stars-medium .star:nth-child(37) {
  height: 2px;
  width: 2px;
  left: 43vw;
  top: 58vh;
}

#stars-medium .star:nth-child(38) {
  height: 1px;
  width: 1px;
  left: 49vw;
  top: 44vh;
}

#stars-medium .star:nth-child(39) {
  height: 1px;
  width: 1px;
  left: 53vw;
  top: 88vh;
}

#stars-medium .star:nth-child(40) {
  height: 3px;
  width: 3px;
  left: 22vw;
  top: 31vh;
}

#stars-medium .star:nth-child(41) {
  height: 2px;
  width: 2px;
  left: 97vw;
  top: 92vh;
}

#stars-medium .star:nth-child(42) {
  height: 2px;
  width: 2px;
  left: 1vw;
  top: 65vh;
}

#stars-medium .star:nth-child(43) {
  height: 3px;
  width: 3px;
  left: 71vw;
  top: 102vh;
}

#stars-medium .star:nth-child(44) {
  height: 2px;
  width: 2px;
  left: 12vw;
  top: 11vh;
}

#stars-medium .star:nth-child(45) {
  height: 1px;
  width: 1px;
  left: 79vw;
  top: 98vh;
}

#stars-medium .star:nth-child(46) {
  height: 3px;
  width: 3px;
  left: 74vw;
  top: 73vh;
}

#stars-medium .star:nth-child(47) {
  height: 3px;
  width: 3px;
  left: 25vw;
  top: 72vh;
}

#stars-medium .star:nth-child(48) {
  height: 1px;
  width: 1px;
  left: 94vw;
  top: 79vh;
}

#stars-medium .star:nth-child(49) {
  height: 1px;
  width: 1px;
  left: 40vw;
  top: -1vh;
}

#stars-medium .star:nth-child(50) {
  height: 3px;
  width: 3px;
  left: 10vw;
  top: 42vh;
}

#stars-big .star:nth-child(0) {
  height: 2px;
  width: 2px;
  left: 20vw;
  top: 38vh;
}

#stars-big .star:nth-child(1) {
  height: 1px;
  width: 1px;
  left: 71vw;
  top: 68vh;
}

#stars-big .star:nth-child(2) {
  height: 1px;
  width: 1px;
  left: 8vw;
  top: 71vh;
}

#stars-big .star:nth-child(3) {
  height: 1px;
  width: 1px;
  left: 101vw;
  top: 67vh;
}

#stars-big .star:nth-child(4) {
  height: 2px;
  width: 2px;
  left: 50vw;
  top: 12vh;
}

#stars-big .star:nth-child(5) {
  height: 3px;
  width: 3px;
  left: 49vw;
  top: 94vh;
}

#stars-big .star:nth-child(6) {
  height: 2px;
  width: 2px;
  left: 54vw;
  top: 90vh;
}

#stars-big .star:nth-child(7) {
  height: 1px;
  width: 1px;
  left: 52vw;
  top: 38vh;
}

#stars-big .star:nth-child(8) {
  height: 3px;
  width: 3px;
  left: 32vw;
  top: 59vh;
}

#stars-big .star:nth-child(9) {
  height: 3px;
  width: 3px;
  left: 41vw;
  top: 75vh;
}

#stars-big .star:nth-child(10) {
  height: 2px;
  width: 2px;
  left: 71vw;
  top: 59vh;
}

#stars-big .star:nth-child(11) {
  height: 1px;
  width: 1px;
  left: 9vw;
  top: 55vh;
}

#stars-big .star:nth-child(12) {
  height: 3px;
  width: 3px;
  left: -1vw;
  top: 65vh;
}

#stars-big .star:nth-child(13) {
  height: 3px;
  width: 3px;
  left: 0vw;
  top: 57vh;
}

#stars-big .star:nth-child(14) {
  height: 2px;
  width: 2px;
  left: 32vw;
  top: 56vh;
}

#stars-big .star:nth-child(15) {
  height: 3px;
  width: 3px;
  left: 0vw;
  top: 79vh;
}

#stars-big .star:nth-child(16) {
  height: 3px;
  width: 3px;
  left: 24vw;
  top: 79vh;
}

#stars-big .star:nth-child(17) {
  height: 2px;
  width: 2px;
  left: 39vw;
  top: 0vh;
}

#stars-big .star:nth-child(18) {
  height: 3px;
  width: 3px;
  left: 46vw;
  top: 12vh;
}

#stars-big .star:nth-child(19) {
  height: 3px;
  width: 3px;
  left: 100vw;
  top: 10vh;
}

#stars-big .star:nth-child(20) {
  height: 2px;
  width: 2px;
  left: 46vw;
  top: 78vh;
}

#stars-big .star:nth-child(21) {
  height: 2px;
  width: 2px;
  left: 67vw;
  top: 82vh;
}

#stars-big .star:nth-child(22) {
  height: 1px;
  width: 1px;
  left: 30vw;
  top: 34vh;
}

#stars-big .star:nth-child(23) {
  height: 3px;
  width: 3px;
  left: 16vw;
  top: 11vh;
}

#stars-big .star:nth-child(24) {
  height: 3px;
  width: 3px;
  left: 43vw;
  top: 8vh;
}

#stars-big .star:nth-child(25) {
  height: 1px;
  width: 1px;
  left: 1vw;
  top: 8vh;
}
