.html,
body {
	width: 100vw;
	height: 100vh;
}

.body {
  background: linear-gradient(45deg, #02001F,#1F1B4E);
  transform-style: preserve-3d;
  transform: perspective(60rem);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#clockBackground {
	position: relative;
	background: url(clock1.jpg) no-repeat;
	height: 0;
	width: 30vw;
	padding-top: 75%;
	background-size: 100%;
	transform: rotateX(-10deg) rotateY(20deg); 
}

#clockContainer {
	position: absolute;
	top: 5px;
	right: 75px;
	margin: auto;
	height: 20vw;
	/*to make the height and width responsive*/
	width: 20vw;
	/*setting our background image*/
}

#hour,
#minute,
#second {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}
