.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../load.gif) center no-repeat #000;
  background-size: 10%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  position: fixed;
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

#container {
  margin-top: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#colorsContainer {
  width: 476px;
  height: 648px;
  perspective: 1000px;
  position: relative;
}

#clockBackground {
  background: url(red.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#green {
  background: url(green.jpg) no-repeat;
  background-size: 100%;
  opacity: .6;
  width: 100%;
  height: 100%;
  transform: translateZ(30px);  
}

#blue {
  position: absolute;
  top: 0;
  left: 0;
  background: url(blue.jpg) no-repeat;
  background-size: 100%;
  opacity: .3;
  width: 100%;
  height: 100%;
  transform: translateZ(60px);
}

#clockContainer {
  position: absolute;
  top: -20px;
  right: 40px;
  margin: auto;
  height: 192px;;
  width: 192px;
  transform: translateZ(30px);
}

#noEffects:hover {
  cursor: pointer;
}

h3 {
  position: absolute;
  top: 16px;
  left: 48px;
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #000;
  transform: translateZ(90px);
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

